{
  "swagger": "2.0",
  "info": {
    "description": "This is the api documentation for the conference manager.",
    "version": "1.0.0",
    "title": "Conference Manager"
  },
  "host": "hnswave.co",
  "basePath": "/dev",
  "schemes": [
    "http"
  ],
  "paths": {
    "/conferences": {
      "get": {
        "summary": "get array of conferences",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "array of conferences",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Conference"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Attendee": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Conference": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "attendees": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attendee"
          }
        },
        "talks": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Talk"
          }
        }
      }
    },
    "Talk": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        },
        "name": {
          "type": "string"
        },
        "attendees": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Attendee"
          }
        }
      }
    }
  }
}
